<!DOCTYPE html>
<html lang="pt_br"> <!-- Atributo de linguagem do html, default "en"-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="theme-color" content="8257E5">

    <title>Proffy | Sua plataforma de estudos online</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/partials/header.css">
    <link rel="stylesheet" href="/public/styles/partials/page-landing.css">
    <link rel="stylesheet" href="/public/styles/partials/page-register-sucess.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    
</head>
<body id="page-success">

    <div id="container">

        <div class="check-container">
            <img src="/public/images/icons/success-check-icon.svg" alt="SuccessCheckIcon">
            <h1>Cadastro salvo!</h1>
        </div>

        <img class="success-background" src="/public/images/success-background.svg" alt="SuccessBackground">

        <p class="end-message">Tudo certo agora seu cadastro está na nossa lista de professores.<br>
            Agora é só ficar de olho no seu Whatsapp.</p>
        
        
    </div>

</body>
</html>